﻿@page
@model storewebcore.Web.Areas.Identity.Pages.ProfileModel
<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0 text-gray-800">@Model.FirstName @Model.LastName's Profile</h1>
</div>
<div id="userRoles" style="padding: 20px 20px 20px 0px">
    @foreach (var role in Model.Roles)
    {
        <span class="badge badge-success">@role</span>
    }
</div>

<div>
    @if (User.IsInRole("SuperAdmin"))
    {
        if (!Model.IsSuperAdmin)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header py-3">
                                    <h6 class="m-0 text-secondary">Admin Area</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            @if (!@Model.IsActive)
                                            {
                                                <form method="post" style="display: inline-flex;">
                                                    <button style='margin-right:16px' type="submit" id="activate-profile" asp-route-userId="@Model.UserId" asp-page-handler="ActivateUser" class="btn btn-success btn-sm">
                                                        Activate
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" style="display: inline-flex;">
                                                    <button style='margin-right:16px' type="submit" class="btn btn-danger btn-sm" asp-route-userId="@Model.UserId" asp-page-handler="DeActivateUser">
                                                        Deactivate
                                                    </button>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header py-3">
                            <h6 class="m-0 text-secondary">Profile Picture</h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    @if (Model.ProfilePicture != null)
                                    {
                                        <img id="viewableImage" alt="Profile Picture of @Model.Username" style="width:inherit; height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))">
                                    }
                                    else
                                    {
                                        <img id="viewableImage" alt="Profile Picture of @Model.Username" style="width:inherit; height:350px; object-fit:cover" src="~/images/default-user.png">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header py-3">
                            <h6 class="m-0 text-secondary">About</h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/imageModal.js"></script>
}