﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using storewebcore.Web.Areas.Catalog.Models
@model ProductViewModel
<form id="create-form" method="post" asp-controller="Product" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Name"]</label>
                <div class="col-md-9">
                    <input type="text" asp-for="Name" name="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Barcode</label>
                <div class="col-md-9">
                    @if (Model.Id != 0)
                    {
                        <input type="text" as asp-for="Barcode" readonly name="Barcode" class="form-control">
                    }
                    else
                    {
                        <input type="text" as asp-for="Barcode" name="Barcode" class="form-control">
                    }
                    <span asp-validation-for="Barcode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Description</label>
                <div class="col-md-9">
                    <textarea rows="6" asp-for="Description" name="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Rate</label>
                <div class="col-md-9">
                    <input type="number" asp-for="Rate" name="Rate" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Brand</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="BrandId" class="form-control select2bs4" id="BrandId" asp-for="BrandId" asp-items="@Model.Brands">
                        </select>
                    </div>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file form-image">
                    <input accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="@Model.Image"
                           type="file" class="custom-file-input"
                           onchange="document.getElementById('viewableImage').src = window.URL.createObjectURL(this.files[0])"
                           id="customFile">
                    <label class="custom-file-label" for="customFile">Choose Image</label>
                </div>
                @if (Model.Image != null && Model.Image.Length > 0)
                {
                    <img id="viewableImage" class="viewableImage" asp-for="@Model.Image" style="width: 100%;object-fit: cover;padding-top: 10px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))" alt>
                    @*<button onclick="document.getElementById('achimage').src = null;" type="button" style="margin-top:10px" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove Image</button>*@
                }
                else
                {
                    <img id="viewableImage" class="viewableImage" style="width: 100%;object-fit: cover;padding-top:10px;" src="" alt>
                }
            </div>
        </div>
    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $("#BrandId").select2({
        placeholder: "Select a Category",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
            return m;
        }
    });
</script>