﻿@using storewebcore.Web.Areas.Catalog.Models
@model IEnumerable<BrandViewModel>
<table id="brandTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Tax</th>
            <th>Description</th>
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Brands.Delete)).Result.Succeeded
             || (AuthorizationService.AuthorizeAsync(User, Permissions.Brands.Edit)).Result.Succeeded)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var brand in Model)
        {
        <tr>
            <td>
                @brand.Id
            </td>
            <td>
                @brand.Name
            </td>
            <td>
                @brand.Tax
            </td>
            <td>
                @brand.Description
            </td>
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Brands.Delete)).Result.Succeeded || (AuthorizationService.AuthorizeAsync(User, Permissions.Brands.Edit)).Result.Succeeded)
            {
                <td text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Brands.Edit)).Result.Succeeded)
                            {
                                <a onclick="jQueryModalGet('/catalog/brand/OnGetCreateOrEdit?id=@brand.Id','Edit Brand')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a>

                            }
                            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Brands.Delete)).Result.Succeeded)

                            {
                                <form id="form_delete_@brand.Id" asp-area="Catalog" asp-controller="Brand" method="post" asp-action="OnPostDelete" asp-route-id="@brand.Id" onsubmit="return jQueryModalDelete(this)">
                                    <a href="javascript:$('#form_delete_@brand.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete</a>
                                </form>
                            }
                        </div>
                    </div>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#brandTable").DataTable();
    });
</script>